.container {
    display: grid;
    grid-template: repeat(3, 100px) / repeat(4, 1fr);
    gap: 5px;
}

.caixa1 {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 3;
    
    background-color: bisque;
    border: 3px solid gray
}

.caixa2 {
    grid-row-start: 1;
    grid-row-end: 1;
    grid-column-start: 3;
    grid-column-end: -1;
    
    background-color: beige;
    border: 3px solid gray
}

.caixa3 {
    grid-row-start: 2;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 2;

    background-color: blanchedalmond;
    border: 3px solid gray
}

.caixa4 {
    grid-row-start: 2;
    grid-row-end: 4;
    grid-column-start: 2;
    grid-column-end: 5;
    
    background-color: blanchedalmond;
    border: 3px solid gray
}
