@charset "UTF-8";

/* Versão mobile first */

* {
    font-family: Arial;
    font-size: 1.3em;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html {
    height: 100vh;
}

body {
    background: black url(../imagens/back-phone.webp) no-repeat;
    background-size: cover;
    background-position: center center;
}

main {
    background-color: rgba(245, 245, 245, 0.822);
    width: 90%;
    margin: auto;
    margin-top: 20px;
    border-radius: 8px;
    padding: 8px;
}

h1 {
    text-align: center;
    color: white;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.644);
}

img {
    display: block;
    margin: auto;
}

img#fone {
    display: block;
}

img#tablete {
    display: none;
}

img#print {
    display: none;
}

img#desktop {
    display: none;
}

img#tv {
    display: none;
}